html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.userMessage, .botMessage {
    display: inline-block; 
    max-width: 400px;     
    padding: 8px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 20px;
    color: rgb(233, 233, 233);
}
.userMessage {
  background-color: rgb(43,82,120);
  padding-left: 12px;
  padding-right: 12px;
}
.botMessage {
  background-color: rgb(24,37,51);
}
#chat-window{
  display: flex;
  width: 500px;
  flex-direction: column;
  background-color: rgb(14,22,33);

  height: 70vh;           
  overflow-y: auto;     
  display: flex;
  flex-direction: column;
  padding: 10px;
  
  scrollbar-width: thin;
  scrollbar-color: rgba(255,255,255,0.2) transparent;
  
}
.window{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 13px;
}
.header-info{
  display:flex;
  width: 500px;
  height: 50px;
  background-color: rgb(57, 60, 70);
  align-items: center;
  justify-content: space-between;
}

.main-info{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.photo-btn{
  height: 30px;
  margin-right: 20px;
}
.data-info{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-text{
  display: flex;
  align-items: center;
  display: flex;
  width: 500px;
  background-color: rgb(23,33,43);
  padding: 5px;
  justify-content: center
}
.input-text button{
  background-image: url("https://cdn-icons-png.flaticon.com/512/12439/12439274.png");
  background-size: contain;      /* Или 20px 20px, чтобы задать точный размер */
  background-repeat: no-repeat;  /* Чтобы иконка не размножалась */
  background-position: center;
  width: 30px;                   /* Задай ширину */
  height: 30px;                  /* Задай высоту */
  border: none;
  background-color: transparent;
  cursor: pointer;
}
#client-text{
  color: white;
  background-color: rgb(23,33,43);
  border: none;
  width: 430px;
  outline: none;
  box-shadow: none;
  margin-right: 10px;
}